body {
	background-color: rgb(244,244,244);
	color: rgb(60,60,60);
	font-family: "Helvetica Neue", Arial, sans-serif;
	margin: 10px;
}

.font-weight-medium {
	font-weight: 500;
}

.title {
	font-family: "Varela Round";
	letter-spacing: -0.2px;
	text-align: center;
}

/* Question ----------------------------------------*/
.questionList, .questionCreatorContainer, .logInContainer {
	max-width: 400px;
	margin: 0 auto;
}

.questionCreatorContainer, .logInContainer {
	margin-bottom: 15px;
}

.questionCreatorContainer.condensed, .logInContainer.condensed {
	height: 0px;
	margin: 0px;
	overflow: hidden;
}

.question, .questionCreator, .logInCreator {
	padding: 8px 8px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}

/* Question Header ----------------------------------*/
.questionHeader {
	padding-bottom: 6px;
	font-size: 14px;
	border-bottom: thin solid rgb(224,224,224);
	position: relative;
}
.questionHeader.condensed {
	border-bottom: none;
	padding-bottom: 0px;
	cursor: pointer;
}

.questionAvatar {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: rgb(78,106,164);
}

.questionUsername {
	position: absolute;
	top: 0px;
	left: 40px;
	font-weight: 500;
	display: inline;
}

.questionCategory {
	position: absolute;
	top: 18px;
	left: 40px;
	color: rgb(151,151,151);
	display: inline;
}

.questionScore {
	position: absolute;
	top: 0px;
	right: 0px;
	font-weight: 500;
	display: inline;
}

.questionScoreAccessory {
	position: absolute;
	top: 18px;
	right: 0px;
	color: rgb(151,151,151);
	display: inline;
}

.questionAsk {
	display: none;
	position: absolute;
	top: 6px;
	left: 45px;
	font-size: 17px;
	letter-spacing: -0.2px;
	color: rgb(165,165,165);
}

.questionHeader.condensed .questionUsername, .questionHeader.condensed .questionCategory, .questionHeader.condensed .questionScore,.questionHeader.condensed .questionScoreAccessory {
	display: none;
}

.questionHeader.condensed .questionAsk {
	display: inline;
}

/* Question Content -----------------------------------*/
.questionContent, .questionCreatorContent, .logInCreatorContent {
	position: relative;
	margin-top: 10px;
	letter-spacing: -0.2px;
	overflow: hidden;
	height: auto;
}

.questionCreatorContent.condensed, .logInCreatorContent.condensed {
	height: 0px;
	margin-top: 0px;
	border-top: none;
}

.questionText, .questionCreatorText, .logInCreatorText {
	margin-bottom: 10px;
	font-size: 17px;
	width: 100%;
}	

.questionCreatorText, .logInCreatorText {
	color: rgb(60,60,60);
	letter-spacing: -0.2px;
	border: none;
}

.logInCreatorText {
	padding-bottom: 6px;
	font-family: FontAwesome, "Helvetica Neue", sans-serif;
}

.questionCreatorText:focus, .logInCreatorText:focus {
	outline: 0;
}

.answerList, .questionCreatorAnswerList {
	margin-top: -5px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 14px;
}

.answerList li, .questionCreatorAnswerList li {
	margin-left: -20px; /* Makes answers line up with header */
	margin-bottom: 0px;
	color: rgb(100,100,100); /* Not sure */
}

.answerList p, .questionCreatorAnswerList p {
	margin-top: 8px;
	margin-bottom: 0px;
	text-decoration: none;
	cursor: pointer;
}

.questionCreatorForm, .logInCreatorForm {
	margin-bottom: 0px;
}

.questionCreatorAnswerListElement {
	margin-top: 5px;
}

.questionCreatorAnswer {
	font-size: 14px;
	color: rgb(100,100,100);
	border: none;
	outline: 0;
}

.answered p {
	color: rgb(60,60,60);
	font-weight: 500;
}

.questionCreatorContent button, .logInCreatorContent button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	font-size: 17px;
	font-family: "Helvetica Neue";
	color: white;
	border-width: 0;
	/*background-color: rgb(46, 204, 113);*/
	background: linear-gradient(rgb(56,214,123), rgb(46,204,113));
	border-radius: 4px;
	box-shadow: none;
	padding: 10px 20px;
	width: 100%;
	opacity: 0.4;
}

.logInCreatorContent button {
	margin-top: 6px;
}

.questionCreatorContent.validated button, .logInCreatorContent.validated button {
	opacity: 1.0 !important;
	cursor: pointer;
}

.questionCreatorContent button:focus, .logInCreatorContent button:focus {
	outline: none;
}

.questionCreatorContent button:hover.questionCreatorContent button:hover {
}

/* If Answered ----------------------------------------*/

.ifAnswered {
	position: relative;
}

.discussionCard {
	background-color: rgb(109,207,246);
	color: white;
	border-radius: 5px;
	padding: 8px 8px;
	height: 60px; /* TEMPORARY */

    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}

.analysisCard {
	background-color: rgb(28,187,280);
	color: white;
	border-radius: 5px;
	padding: 8px 8px;
	height: 60px; /* TEMPORARY */
	margin-top: -15px;

    -ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}

.questionBottomMask { /* This is kind of hacky - is there a better way to hide overflow?*/
	background-color: white;
	position: relative;
	height: 14px;
	z-index: 100;
	margin-top: -10px;
	margin-right: -8px;
	margin-left: -8px;
	margin-bottom: -8px;
	border-radius: 5px;
}